<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="{{ page.url }}">{{ page.title }}</a>
          </div>
					<div class="menu">
					<h1>Timeline:</h1>
					{% for post in site.categories["timeline"] %}
						<a href="{{ post.url }}"><p>{{ post.title }}</p></a>
					{% endfor %}
					<h1>Events:</h1>
					{% for post in site.categories["event"] %}
						<a href="{{ post.url }}"><p>{{ post.title }}</p></a>
					{% endfor %}
					</div>
          {{ content }}
          <div class="footer">
            <div class="contact">
              <p>
                Brought to you by YwotWiki/Randomguy, colibri, and izo.
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
